*{
    margin: 0%;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
.logo{
    width: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 
}
.container{
    padding: 5px 5%;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
  }

  #About{
    display: none;
  }
  #Skills{
    display: none;
}
#Services{
    display: none;
}
  #Contact{
    display: none;
  }
  
  .hidden {
      opacity: 0;
      filter: blur(1px);
      transition: all 0.5s;
  }

  .show{
      opacity: 2;
      filter:blur(0);
  }
.card-group{
    color:#fff;
}


